<header class="au-u-padding-top au-u-padding-bottom au-u-padding-left-large au-u-padding-right u-border--light--bottom">
  <h1 class="au-u-h2 au-u-margin-bottom">Bewaar zoekopdracht</h1>
</header>
<div class="container-flex--scroll">
  <div class="au-u-padding-top-large au-u-padding-left-large au-u-padding-right au-u-padding-bottom-large">
    <div class="au-o-grid">
      <div class="au-o-grid__item au-u-1-2@medium au-u-1-1">
        {{#if this.init.isRunning}}
          <span>Aan het laden...</span>
        {{else}}
          <SqConfigForm
                  @form={{this.form}}
                  @graphs={{this.graphs}}
                  @sourceNode={{this.sourceNode}}
                  @formStore={{this.formStore}}
                  @show={{false}}
                  @forceShowErrors={{false}} />
        {{/if}}
      </div>
    </div>
  </div>
</div>
<AuToolbar @border="top" @size="large" class="au-u-padding-left-large">
  <AuToolbarGroup>
    <LinkTo  class="button button--narrow" type="button" @route="search.submissions.search-queries.select" @model={{@query.id}}>
      Laad in
    </LinkTo>
    <AuButton @loading={{if this.save.isRunning "true"}} @skin="secondary"
      {{on "click" (perform this.save)}}>Bewaar
    </AuButton>
    <AuLink @linkRoute="user.search-queries.index" @skin="secondary">Annuleer</AuLink>
  </AuToolbarGroup>
  <AuButton @loading={{if this.remove.isRunning "true"}}
            @skin="tertiary" @alert="true"
            {{ on "click" (perform this.remove) }}>
    <AuIcon @icon="bin" @alignment="left"/>
    Verwijder
  </AuButton>
</AuToolbar>