<div class="au-u-padding-small au-u-border-bottom">
  <div class="au-o-grid au-o-grid--flush">
    <div class="au-o-grid__item au-u-1-1 au-u-3-4@medium">
      <AuHeading @level="1" @skin="2" class="au-u-margin-top-tiny au-u-margin-bottom-tiny">
        Toezicht ABB - {{ if this.isNewForm "Nieuwe" "Editeer"}} Zoekopdracht
      </AuHeading>
    </div>
  </div>
</div>
<div class="container-flex--scroll">
  <div class="au-u-padding-top-large au-u-padding-left-large au-u-padding-right au-u-padding-bottom-large">
    {{#if this.init.isRunning}}
      <span>Aan het laden...</span>
    {{else}}
      <RdfForm
              groupClass="au-o-grid__item au-u-1-1 au-u-1-2@medium"
              @form={{this.form}}
              @graphs={{this.graphs}}
              @sourceNode={{this.sourceNode}}
              @formStore={{this.formStore}}
              @show={{false}}
              @forceShowErrors={{false}} />
    {{/if}}
  </div>
</div>
<AuToolbar @border="top" @size="large" class="au-u-padding-left-large">
  <AuToolbarGroup>
    <AuButton @loading={{if this.save.isRunning "true"}}
              @skin={{"primary"}}
      {{on "click" (perform this.save)}}>Bewaar
    </AuButton>
    {{#unless this.isNewForm}}
      <LinkTo class="button button--narrow button--alt" type="button" @route="search.submissions.search-queries.select"
              @model={{@query.id}}>
        Laad in
      </LinkTo>
    {{/unless}}
    <a class="au-c-link au-c-link--secondary" {{ action 'back'}}>
      {{unless this.isNewForm 'Ga Terug' 'Annuleer'}}
    </a>
  </AuToolbarGroup>
  {{#unless this.isNewForm}}
    <AuButton @loading={{if this.remove.isRunning "true"}}
              @skin="tertiary" @alert="true"
      {{ on "click" (perform this.remove) }}>
      <AuIcon @icon="bin" @alignment="left"/>
      Verwijder
    </AuButton>
  {{/unless}}
</AuToolbar>