<div class="au-c-sidebar">
  <div class="au-c-sidebar__content">
    <div class="au-c-sidebar__header">
      {{#if (or this.init.isRunning this.resetFilters.isRunning)}}
        <AuLoader @size="small" />
      {{else}}
        <RdfForm
          @groupClass="au-o-grid__item au-u-1-2 au-u-1-1@small"
          @form={{this.form}}
          @graphs={{this.graphs}}
          @sourceNode={{this.sourceNode}}
          @formStore={{this.formStore}}
          @forceShowErrors={{false}}
        />
      {{/if}}
    </div>
  </div>
  <div class="au-c-sidebar__footer au-c-sidebar__footer--border-top au-u-padding-none">
    {{! template-lint-disable no-inline-styles}}
    <AuToolbar @size="normal" style="min-height: 45px;" as |Group|>
      <Group>
        <AuButton @skin="tertiary" {{ on "click" this.loadFilters }}>
          <AuIcon @icon="export" @alignment="left"/>
          Laad&nbsp;filters
        </AuButton>
        <AuButton @skin="tertiary" {{ on "click" (perform this.saveFilter) }}>
          <AuIcon @icon="plus-text" @alignment="left"/>
          Bewaar&nbsp;<span class="au-u-visible-from@large">filters</span>
        </AuButton>
        <AuButton @skin="tertiary" @alert="true" {{ on "click" (perform this.resetFilters) }}>
          <AuIcon @icon="redo" @alignment="left"/>
          Reset
        </AuButton>
      </Group>
    </AuToolbar>
  </div>
</div>
