<div class="au-c-sidebar">
  <div class="au-c-sidebar__content">
    <div class="au-c-sidebar__header">
      <div class="au-o-grid au-o-grid--flush">
        <div class="au-o-grid__item au-u-1-2 au-u-1-1@large">
          {{#if this.init.isRunning}}
            <span>Aan het laden...</span>
          {{else}}
              <SqConfigForm
                      @form={{this.form}}
                      @graphs={{this.graphs}}
                      @sourceNode={{this.sourceNode}}
                      @formStore={{this.formStore}}
                      @show={{this.refreshing}}
                      @forceShowErrors={{false}} />
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  <div class="au-c-sidebar__footer au-u-padding-none"> {{!-- TODO: turn into sticky action bar --}}
    <AuToolbar @size="small">
      <AuToolbarGroup>
        <AuButton @skin="tertiary" @alert="true" {{ on "click" this.resetFilters }}>
          <AuIcon @icon="redo" @alignment="left"/>
          Reset filters
        </AuButton>
      </AuToolbarGroup>
    </AuToolbar>
  </div>
</div>