<div class="au-c-sidebar">
  <div class="au-c-sidebar__content">
    <div class="au-c-sidebar__header">
      <div class="au-o-grid au-o-grid--flush">
          {{#if this.init.isRunning}}
            <span>Aan het laden...</span>
          {{else}}
            <RdfForm
                    @form={{this.form}}
                    @graphs={{this.graphs}}
                    @sourceNode={{this.sourceNode}}
                    @formStore={{this.formStore}}
                    @show={{if this.resetFilters.isRunning true false}}
                    @forceShowErrors={{false}} />
          {{/if}}
      </div>
    </div>
  </div>
  <div class="au-c-sidebar__footer au-u-padding-none"> {{!-- TODO: turn into sticky action bar --}}
    <AuToolbar @size="normal" style={{html-safe "min-height: 45px;"}}>
      <AuToolbarGroup>
        <AuButton @skin="tertiary" {{ on "click" this.loadFilters }}>
          <AuIcon @icon="export" @alignment="left"/>
          Laad filters
        </AuButton>
        <AuButton @skin="tertiary" {{ on "click" (perform this.saveFilter) }}>
          <AuIcon @icon="plus-text" @alignment="left"/>
          Bewaar filter
        </AuButton>
        <AuButton @skin="tertiary" @alert="true" {{ on "click" (perform this.resetFilters) }}>
          <AuIcon @icon="redo" @alignment="left"/>
          Reset filters
        </AuButton>
      </AuToolbarGroup>
    </AuToolbar>
  </div>
</div>