<div class="col--4-12 col--12-12--m u-border--light--left">
  <div class="container-flex--contain">
    <div class="u-padding--trl--small u-border--light--bottom">
      <div class="grid">
        <div class="col--9-12 u-wide-on-print">
          <Submissions::StatusPill @status={{this.model.review.status}}/>
          <h2 class="h3">Bekijk melding</h2>
        </div>
        <div class="col--3-12 u-align-right u-hide-on-print">
          <LinkTo @route='search.submissions.index' class="link--icon--close">
            <span class="u-visually-hidden">Venster sluiten</span>
          </LinkTo>
        </div>
      </div>
    </div>
    <div class="container-flex--scroll u-padding--round--small">
      <div class="form__row">
        <div class="grid u-spacer--tiny">
          <div class="col--6-12">
            <div class="description-data__label">Verstuurd door</div>
            <div class="description-data__value">{{this.model.lastModifier.fullName}}</div>
          </div>
          <div class="col--6-12">
            <div class="description-data__label">Verstuurd op</div>
            <div class="description-data__value parentIndexRoute">{{moment-format model.sentDate 'DD-MM-YYYY'}}</div>
          </div>
        </div>
      </div>
      <div class="u-spacer"></div>
      <Submissions::Form @submission={{this.model}}/>
    </div>
    <div class="u-padding--round--small u-border--light--top u-hide-on-print">
      {{#if this.currentSession.canWrite}}
        <Submissions::Review
                @model={{await this.model.review}}
                @status={{await this.model.review.status}}
                @onClose={{this.onCloseComponent}}
                @readonly={{true}}/>
      {{else}}
        <div class="button-group u-spacer--tiny">
          <LinkTo @route="search.submissions.index" class="button button--narrow button--alt">Sluit venster</LinkTo>
        </div>
      {{/if}}
    </div>
  </div>
</div>
