<div class="col--5-12 col--12-12--m container-flex--contain u-border--light--left u-wide-on-print">
  <div class="u-padding--trl--small u-border--light--bottom">
    <div class="grid">
      <div class="col--9-12 u-wide-on-print">
        {{shared/status-pill this.model.melding.status class="u-spacer--tiny"}}
        <h2 class="h3">Bekijk melding</h2>
      </div>
      <div class="col--3-12 u-align-right u-hide-on-print">
        <LinkTo @route={{this.parentIndexRoute}} class="link--icon--close">
          <span class="u-visually-hidden">Venster sluiten</span>
        </LinkTo>
      </div>
    </div>
  </div>
  <div class="container-flex--scroll u-padding--round--small">
    <div class="form__row">
      <div class="grid u-spacer--tiny">
        <div class="col--6-12">
          <div class="description-data__label">Verstuurd door</div>
          <div class="description-data__value">{{this.model.lastModifier.fullName}}</div>
        </div>
        <div class="col--6-12">
          <div class="description-data__label">Verstuurd op</div>
          <div class="description-data__value">{{moment-format this.model.sentDate 'DD-MM-YYYY'}}</div>
        </div>
      </div>
    </div>
    <div class="u-spacer"></div>
    <RootFormNode @solution={{this.model.formSolution}} @onDynamicFormInit={{this.noop}} @show={{true}} />
  </div>
  <div class="u-padding--round--small u-border--light--top u-hide-on-print">
    {{#if this.currentSession.canWrite}}
      <Toezicht::InzendingFeedback @model={{await this.model.melding}} @parentIndexRoute={{this.parentIndexRoute}} />
    {{else}}
      <div class="button-group u-spacer--tiny">
        <LinkTo @route={{this.parentIndexRoute}} class="button button--narrow button--alt">Sluit venster</LinkTo>
      </div>
    {{/if}}
  </div>
</div>
