<DataTable @content={{model}} @isLoading={{isLoading}} @noDataMessage="Geen inzendingen gevonden" @sort={{sort}} @page={{page}} @size={{size}} @class="container-flex--contain data-table" as |t|>
  <t.content as |c|>
    <c.header>
      <th class="u-visible--tablet-landscape-up">Provincie</th>
      <th class="u-visible--tablet-landscape-up">Bestuurseenheid</th>
      <th class="u-visible--tablet-portrait-up">Type bestuur</th>
      <th>Type document</th>
      {{#unless displaySubset}}
        <th class="u-visible--tablet-landscape-up">Zitting / besluit</th>
        <th class="u-visible--tablet-landscape-up">Verstuurd</th>
      {{/unless}}
      <th>Status</th>
      <th class="u-hide-on-print"><!-- Actions --></th>
    </c.header>
    <c.body as |row|>
      {{#unless displaySubset}}
        <td class="u-visible--tablet-landscape-up">{{row.provincie}}</td>
      {{/unless}}
      <td class="u-visible--tablet-portrait-up" style="max-width: 250px;">{{row.bestuurseenheid}} <span class="u-hidden--tablet-landscape-up text-fade"><br>{{row.typeBestuur}}</span></td>
      <td class="u-visible--tablet-landscape-up">{{row.typeBestuur}}</td>
      <td style="max-width: 250px;">
        <p>{{row.typeDocument}}</p>
      </td>
      {{#unless displaySubset}}
        <td class="u-visible--tablet-landscape-up">{{moment-format row.sessionDate 'DD-MM-YYYY'}}</td>
        <td class="u-visible--tablet-landscape-up">{{moment-format row.verstuurd 'DD-MM-YYYY'}}</td>
      {{/unless}}
      <td>{{row.status}}</td>
      <td class="u-hide-on-print"><LinkTo @route={{this.target}} @model={{row.id}}>Bekijk</LinkTo></td>
    </c.body>
  </t.content>
</DataTable>
