<div class="ember-power-select--small" {{did-update this.updateSelectedValue @value}}>
  <PowerSelectMultiple
          @placeholder="Berchem, Hasselt, Gent, ..."
          @search={{perform this.search}}
          @searchField={{"naam"}}
          @matcher={{this.matcher}}
          @searchPlaceholder="Typ om te zoeken..."
          @options={{this.options}}
          @searchEnabled={{true}}
          @loadingMessage="Aan het laden..."
          @selected={{this.selected}}
          @onChange={{this.changeSelected}}
          @allowClear={{true}} as |bestuurseenheid|>
    {{bestuurseenheid.naam}} ({{bestuurseenheid.classificatie.label}})
  </PowerSelectMultiple>
</div>
