<div class="ember-power-select--small" {{did-update this.updateSelectedValue @value}}>
  <PowerSelectMultiple
          @placeholder="MAR7300, MAR7304, ..."
          @search={{perform this.search}}
          @matcher={{this.matcher}}
          @searchPlaceholder="Typ om te zoeken..."
          @searchEnabled={{true}}
          @searchField="label"
          @loadingMessage="Aan het laden..."
          @options={{this.options}}
          @selected={{this.selected}}
          @onChange={{this.changeSelected}}
          @allowClear={{true}} as |code|>
    {{code.notation}} - {{code.label}}
  </PowerSelectMultiple>
</div>
