<fieldset {{did-update this.updateSelectedValues @fromValue @toValue}} {{!template-lint-disable no-at-ember-render-modifiers}}>
  <legend class="au-c-label">{{@label}}</legend>
  <AuButtonGroup @inline={{true}}>
    <AuButton
      @skin="secondary"
      class={{unless this.isFilterEnabled "is-active"}}
      {{on "click" this.resetFilter}}
    >
      Alle meldingen
    </AuButton>
    <AuButton
      @skin="secondary"
      class={{if this.isFilterEnabled "is-active"}}
      {{on "click" this.initRangeFilter}}
    >
      Specifieke periode
    </AuButton>
  </AuButtonGroup>

  {{#if this.isFilterEnabled}}
    <div class="au-u-margin-top-small">
      <div class="au-o-grid au-o-grid--tiny">
        <div class="au-o-grid__item au-u-1-5">
          <AuLabel for="{{this.inputId}}-date-from" @inline={{true}}>Van</AuLabel>
        </div>
        <div class="au-o-grid__item au-u-4-5">
          <AuDatePicker
            @id="{{this.inputId}}-date-from"
            @value={{this.fromDate}}
            @onChange={{fn this.updateDate "fromDate"}}
            @min="2012-01-01"
            @max="2049-12-31"
          />
        </div>

        <div class="au-o-grid__item au-u-1-5">
          <AuLabel for="{{this.inputIdTo}}-date-until" @inline={{true}}>Tot</AuLabel>
        </div>
        <div class="au-o-grid__item au-u-4-5">
          <AuDatePicker
            @id="{{this.inputIdTo}}-date-until"
            @value={{this.toDate}}
            @onChange={{fn this.updateDate "toDate"}}
            @min="2012-01-01"
            @max="2049-12-31"
          />
        </div>
      </div>
    </div>
  {{/if}}
</fieldset>