<div class="ember-power-select--small" {{did-update this.updateSelectedValue @value}}>
  <PowerSelectMultiple
          @placeholder="Antwerpen, Oost-Vlaanderen, ..."
          @search={{perform this.search}}
          @searchField={{"naam"}}
          @searchPlaceholder="Typ om te zoeken..."
          @searchEnabled={{true}}
          @loadingMessage="Aan het laden..."
          @options={{this.options}}
          @selected={{this.selected}}
          @onChange={{this.changeSelected}}
          @allowClear={{true}} as |werkingsgebied|>
    {{werkingsgebied.naam}}
  </PowerSelectMultiple>
</div>
