<div class="ember-power-select--small" {{did-update this.updateSelectedValue @value}}>
  <PowerSelect @placeholder="Politieregelment, Personeelsregelment, ..." @search={{perform this.search}} @searchPlaceholder="Typ om te zoeken..." @options={{this.options}} @selected={{this.selected}} @onChange={{this.changeSelected}} @allowClear={{true}} as |besluitType|>
    {{besluitType.label}}
  </PowerSelect>
</div>
