<div
  {{did-update (perform this.loadData) @submission}}
  {{!template-lint-disable no-at-ember-render-modifiers}}
>
  {{#if this.loadData.isRunning}}
    <AuLoader class="au-o-box au-o-box--large">
      Aan het laden
    </AuLoader>
  {{else}}
    <SubmissionForm
      @form={{this.form}}
      @graphs={{this.graphs}}
      @sourceNode={{this.sourceNode}}
      @formStore={{this.formStore}}
      @show={{true}}
      @forceShowErrors={{false}}
    />
  {{/if}}
</div>