<div class="u-border--fat--bottom u-hide-on-print">
  <div class="u-padding--round--small">

    <div class="grid">
      <div class="col--4-12 col--1-1--s">
        <h1 class="h2 u-spacer--right--small u-display-inline-block">Toezicht ABB (new)</h1>
      </div>
      <div class="col--8-12 col--1-1--s u-align-right--tablet-portrait-up">
        <WuButtonGroup>
          <div class="u-display--inline-block u-padding--right--small">
            <div class="checkbox--switch__wrapper checkbox--switch--small">
              <WuSwitch @label="Toon enkel te behandelen dossiers" @checked={{this.isStatusFilterEnabled}}
                        @onClick={{this.setToTreatStatus}} />
            </div>
          </div>
          <WuButton @onClick={{this.resetFilters}} @size="small" @isDark={{true}} @isLink={{true}} @isNarrow={{true}}
                    @class="u-spacer--bottom--none">
            <i class="vi vi-cross vi-u-link button__icon" aria-hidden="true"></i> Herstel alle filters
          </WuButton>
          <AcmidmLogout @class="button button--alt button--small u-spacer--bottom--none u-hidden-mobile"/>
        </WuButtonGroup>
      </div>
    </div>

    <!-- FILTERS -->
    <div class="grid">
      <div class="col--4-12 col--6-12--m col--6-12--s">
        <label class="label--subtle form__label">Bestuurseenheid</label>
        <Filter::AdministrativeUnitSelect @value={{@filter.bestuurseenheidIds}} @onSelectionChange={{fn this.setFilter
                                                                                                        'bestuurseenheidIds'}} />

        <label class="label--subtle form__label">Provincie</label>
        <Filter::ProvinceSelect @value={{@filter.provincieIds}} @onSelectionChange={{fn this.setFilter
                                                                                        'provincieIds'}} />
      </div>
      <div class="col--4-12 col--6-12--m col--6-12--s">
        <label class="label--subtle form__label">Type bestuur</label>
        <Filter::AdministrativeUnitClassificationSelect @value={{@filter.classificatieIds}} @onSelectionChange={{fn
                this.setFilter 'classificatieIds'}} />

        <label class="label--subtle form__label">Type document</label>
        <Filter::DecisionTypeSelect @value={{@filter.besluitTypeIds}} @onSelectionChange={{this.selectBesluitTypes}} />

        <!-- {{#if this.regulationTypeIsSelected}}
          <label class="label--subtle form__label">Type reglement of verordening</label>
          <ToezichtRegulationTypeSelect @value={{@filter.regulationTypeId}} @onSelectionChange={{fn this.setFilter
                                                                                                    'regulationTypeId'}} />
        {{/if}} -->
      </div>
      <div class="col--4-12 col--1-1--m col--1-1--s">
        <div class="grid">
          <div class="col--1-1 col--6-12--m">
            <Filter::DateRange @label="Periode verstuurd" @fromValue={{@filter.sentDateFrom}} @toValue={{@filter.sentDateTo}} @onChangeFromValue={{fn this.setFilter 'sentDateFrom'}} @onChangeToValue={{fn this.setFilter 'sentDateTo'}} />
          </div>
          <div class="col--1-1 col--6-12--m">
            <Filter::DateRange @label="Periode zitting / besluit" @defaultFromDate={{this.lastMonth}} @fromValue={{@filter.sessionDateFrom}} @toValue={{@filter.sessionDateTo}} @onChangeFromValue={{fn this.setFilter 'sessionDateFrom'}} @onChangeToValue={{fn this.setFilter 'sessionDateTo'}} />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TABLE -->
<DataTable @content={{@model}} @isLoading={{@isLoading}} @noDataMessage="Geen inzendingen gevonden" @sort={{@sort}}
           @page={{@page}} @size={{@size}} @class="container-flex--contain data-table" as |t|>
  <t.content as |c|>
    <c.header>
      {{#unless displaySubset}}
        <ThSortable @label="Provincie" @field="organization.provincie.naam" @currentSorting={{sort}}
                    @class="u-visible--tablet-landscape-up"/>
      {{/unless}}
      <ThSortable @label="Bestuurseenheid" @field="organization" @currentSorting={{sort}}
                  @class="u-visible--tablet-landscape-up"/>
      <ThSortable @label="Type bestuur" @field="organization.classificatie.label" @currentSorting={{sort}}
                  @class="u-visible--tablet-portrait-up"/>
      <!-- TODO make this filterable -->
      <th>Type document</th>
      {{#unless displaySubset}}
        <ThSortable @label="Zitting / besluit" @field="formData.sessionStartedAtTime" @currentSorting={{sort}}
                    @class="u-visible--tablet-landscape-up"/>
        <ThSortable @label="Verstuurd" @field="sentDate" @currentSorting={{sort}}
                    @class="u-visible--tablet-landscape-up"/>
      {{/unless}}
      <ThSortable @label="Status" @field="status.label" @currentSorting={{sort}} />
      <th class="u-hide-on-print"><!-- Action links --></th>
    </c.header>
    <c.body as |row|>
      {{#unless displaySubset}}
        <td class="u-visible--tablet-landscape-up">{{row.organization.provincie.naam}}</td>
      {{/unless}}
      <td class="u-visible--tablet-portrait-up" style="max-width: 250px;">{{row.organization.naam}} <span
              class="u-hidden--tablet-landscape-up text-fade"><br>{{row.organization.classificatie.label}}</span></td>
      <td class="u-visible--tablet-landscape-up">{{row.organization.classificatie.label}}</td>
      <td style="max-width: 250px;">
        <Submissions::Type @formData={{row.formData}}/>
      </td>
      {{#unless displaySubset}}
        <td class="u-visible--tablet-landscape-up">{{moment-format row.formData.sessionStartedAtTime 'DD-MM-YYYY'}}</td>
        <td class="u-visible--tablet-landscape-up">{{moment-format row.sentDate 'DD-MM-YYYY'}}</td>
      {{/unless}}
      <td>
        <Shared::StatusPill @status={{row.status}}/>
      </td>
      <td class="u-hide-on-print">
        <LinkTo @route="supervision.submissions.show" @model={{row}}>Bekijk</LinkTo>
      </td>
    </c.body>
  </t.content>
</DataTable>
