{{#if this.initStatuses.lastSuccessful}}
  <div class="alert alert--small alert--success u-spacer--tiny">
    <AuHeading @level="6" @skin="6" class="au-u-margin-bottom-tiny">Medewerkers locatiesecretariaat</AuHeading>
    <AuLabel class="checkbox checkbox--block {{if @readonly "checkbox--disabled" }}" disabled={{@readonly}}>
      <Input @type="checkbox"
             class="checkbox__toggle"
             @checked={{this.isHandled}}
             @change={{this.toggleIsHandled}}
             disabled={{@readonly}} />
      <span></span>
      Melding afgehandeld
    </AuLabel>
    <div class="u-spacer--tiny"></div>
    <AuLabel>Behandelaar <span class="text-fade">en eventueel extra informatie</span></AuLabel>
    <Input class="input-field input-field--block" @value={{@model.comment}} disabled={{@readonly}}/>
  </div>
  <AuButtonGroup>
    <AuButton @disabled="@readonly" {{ on "click" this.save }}>Bewaar</AuButton>
    <AuButton @skin="secondary" {{ on "click" this.cancel }}>Sluit venster</AuButton>
  </AuButtonGroup>
{{/if}}
