{{#if this.initStatuses.lastSuccessful}}
  <div>
    <AuAlert @title="Medewerkers locatiesecretariaat" @size="tiny" @skin="success">
      <AuControlCheckbox @checked={{this.isHandled}} @disabled={{@readonly}} @onChange={{this.toggleIsHandled}}>
        Melding afgehandeld
      </AuControlCheckbox>
      <AuLabel for="behandelaar">Behandelaar <span class="au-u-muted au-u-light au-u-italic">en eventueel extra informatie</span></AuLabel>
      <AuInput id="behandelaar" @value={{@model.comment}} @disabled={{@readonly}} @width="block" />
    </AuAlert>
    <AuButtonGroup>
      <AuButton @disabled={{@readonly}} {{ on "click" this.save }}>Bewaar</AuButton>
      <AuButton @skin="secondary" {{ on "click" this.cancel }}>Sluit venster</AuButton>
    </AuButtonGroup>
  </div>
{{/if}}
