{{!-- template-lint-disable no-html-comments  --}}
{{!-- template-lint-disable no-inline-styles  --}}
<div class="container-flex--contain">
  <div class="au-u-padding-small au-u-border-bottom">
    <AuHeading @level="1" @skin="2" class="au-u-margin-top-tiny au-u-margin-bottom-tiny">Toezicht ABB</AuHeading>
    <div class="au-o-grid au-o-grid--flush">
      <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
        <AuAlert @alertIcon="info-circle" @alertTitle="De gegevens van deze pagina lopen maximaal één dag achter op de huidige stand van zaken."  @alertskin={{"info"}} @alertsize={{"small"}} class="au-u-margin-none" />
      </div>
        <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium au-u-text-right">
        <a href="/filters-table/table-config" type="button" class="au-c-button au-c-button--tertiary">
          <AuIcon @icon="settings" @alignment="left" /> Pas overzicht kolommen aan
        </a> {{!--       FOR DEV: This should be a button that shows a modal! Thanks   --}}
      </div>
    </div>
  </div>

  <div class="container-flex--contain">
    <div class="au-c-main-container">
      <div class="au-c-main-container__sidebar">
        <div class="au-c-sidebar">
          <div class="au-c-sidebar__header">

            <div class="au-c-sidebar__content">

              <div class="au-o-grid au-o-grid--flush">
                <div class="au-o-grid__item au-u-1-2">
                  <AuHeading @level="2" @skin="3" class="au-u-margin-top-tiny au-u-margin-bottom">Filter dossiers</AuHeading>
                </div>
                <div class="au-o-grid__item au-u-1-2 au-u-text-right">
                  <WuButton @onClick={{this.resetFilters}}
                            class="au-c-button au-c-button--secondary">
                    <AuIcon @icon="cross" @alignment="left" /> Reset filters
                  </WuButton>
                </div>
              </div>

              <div class="au-o-grid au-o-grid--flush">
                <div class="au-o-grid__item au-u-1-2 au-u-1-1@large">
                  <div class="au-u-padding-left-tiny au-u-padding-right-tiny">

                    <div class="au-u-margin-bottom">
                      <AuLabel>Zoek in inhoud dossier</AuLabel>
                      <AuInput
                              @width={{"block"}}
                              @value={{this._freeTextSearch}}
                              {{on "input" (perform this.search)}}/>
                      <div class="au-c-tooltip-container">
                        <button class="au-c-button au-c-button--tertiary au-c-button--tooltip" aria-labelledby="zoekresultaten-meer-informatie">
                          <AuIcon @icon="info-circle" @alignment="left" /> Zoekresultaten kunnen onvolledig zijn
                        </button>
                        <div role="tooltip" id="zoekresultaten-meer-informatie">Webpagina's en leesbare PDF's zijn doorzoekbaar &mdash; ingescande PDF's of afbeeldingen niet.</div>
                      </div>
                    </div>

                    <div class="au-u-margin-bottom-small">
                      <div class="checkbox--switch__wrapper">
                        <WuSwitch @label="Toon enkel te behandelen dossiers"
                                  @checked={{this.isStatusFilterEnabled}}
                                  @onClick={{this.setToTreatStatus}} />
                      </div>
                    </div>

                    <hr class="au-c-hr">

                    <div class="au-u-margin-bottom-small">
                      <AuLabel>Bestuurseenheid</AuLabel>
                      <Filter::AdministrativeUnitSelect @value={{@filter.administrativeUnites}}
                                                        @onSelectionChange={{fn @setFilter 'administrativeUnites'}}/>
                    </div>
                    <div class="au-u-margin-bottom-small">
                      <AuLabel>Provincie</AuLabel>
                      <Filter::ProvinceSelect @value={{@filter.provinces}}
                                              @onSelectionChange={{fn @setFilter 'provinces'}} />
                    </div>
                    <div class="au-u-margin-bottom-small">
                      <AuLabel>Type bestuur</AuLabel>
                      <Filter::AdministrativeUnitClassificationSelect @value={{@filter.administrativeUnitClassifications}}
                                                                      @onSelectionChange={{this.selectAdministrativeUnitClassifications}} />
                    </div>
                    <div class="au-u-margin-bottom-small">
                      {{#if @filter.administrativeUnitClassifications}}
                        <AuLabel>Type Bestuursorgaan</AuLabel>
                        <Filter::GoverningBodyClassificationSelect @value={{@filter.governingBodyClassifications}}
                                                                   @onSelectionChange={{fn @setFilter 'governingBodyClassifications'}} />
                      {{/if}}
                    </div>
                    <hr class="au-c-hr">
                  </div>
                </div>

                <div class="au-o-grid__item au-u-1-2 au-u-1-1@large">
                  <div class="au-u-padding-left-tiny au-u-padding-right-tiny">
                    <div class="au-u-margin-bottom-small">
                      <AuLabel>Categorie dossier</AuLabel>
                      <Filter::DecisionTypeSelect @value={{@filter.decisionTypes}}
                                                  @onSelectionChange={{this.selectDecisionTypes}} />
                    </div>

                    <div class="au-u-margin-bottom-small">
                      {{#if this.regulationTypeIsSelected}}
                        <AuLabel>Subcategorie: Type reglement of verordening</AuLabel>
                        <Filter::RegulationTypeSelect @value={{@filter.regulationTypes}}
                                                      @onSelectionChange={{fn @setFilter 'regulationTypes'}} />
                      {{/if}}
                    </div>

                    <hr class="au-c-hr">

                    <div class="au-u-margin-bottom-small">
                      <Filter::DateRange @label="Periode zitting / besluit" @defaultFromDate={{this.lastMonth}}
                                         @fromValue={{@filter.sessionDateFrom}} @toValue={{@filter.sessionDateTo}}
                                         @onChangeFromValue={{fn @setFilter 'sessionDateFrom'}} @onChangeToValue={{fn @setFilter 'sessionDateTo'}} />
                    </div>
                    <div class="au-u-margin-bottom-small">
                      <Filter::DateRange @label="Periode verstuurd" @fromValue={{@filter.sentDateFrom}}
                                         @toValue={{@filter.sentDateTo}} @onChangeFromValue={{fn @setFilter 'sentDateFrom'}}
                                         @onChangeToValue={{fn @setFilter 'sentDateTo'}} />
                    </div>


                    <hr class="au-c-hr">

                    <AuHeading @level="3" @skin="6" class="au-u-margin-bottom-small">Subcategorie: Belasting of retributie</AuHeading>
                    <div class="au-u-margin-bottom-small">
                      <AuLabel>MAR-code</AuLabel>
                      <Filter::ChartOfAccountSelect @value={{@filter.chartOfAccounts}}
                                                    @onSelectionChange={{fn @setFilter 'chartOfAccounts'}} />
                    </div>
                    <div class="au-u-margin-bottom-small">
                      <Filter::DateRange @label="Belasting geldt vanaf"
                                         @defaultToDate={{this.nextYear}}
                                         @fromValue={{@filter.dateOfEntryIntoForceFrom}}
                                         @toValue={{@filter.dateOfEntryIntoForceTo}}
                                         @onChangeFromValue={{fn @setFilter 'dateOfEntryIntoForceFrom'}}
                                         @onChangeToValue={{fn @setFilter 'dateOfEntryIntoForceTo'}} />
                    </div>
                    <div class="au-u-margin-bottom-small">
                      <Filter::DateRange @label="Belasting geldt tot"
                                         @defaultToDate={{this.nextYear}}
                                         @fromValue={{@filter.dateNoLongerInForceFrom}}
                                         @toValue={{@filter.dateNoLongerInForceTo}}
                                         @onChangeFromValue={{fn @setFilter 'dateNoLongerInForceFrom'}}
                                         @onChangeToValue={{fn @setFilter 'dateNoLongerInForceTo'}} />
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="au-c-main-container__content">
        <div class="container-flex--contain">

          <DataTable @content={{@model}} @isLoading={{@isLoading}} @noDataMessage="Geen inzendingen gevonden" @sort={{@sort}}
                     @page={{@page}} @size={{@size}} @class="container-flex--contain data-table" as |t|>
            <t.content as |c|>
              <c.header>
              {{!-- For devs! When creating a new table for filters, please make sure colums stay configurable. We need control over responsive displays and width. --}}
                {{#unless @displaySubset}}
                  <ThSortable @label="Provincie"
                              @field="province"
                              @currentSorting={{@sort}}
                              @class="au-u-visible-medium-up"/>
                {{/unless}}
                <ThSortable @label="Bestuurseenheid"
                            @field="administrativeUnit"
                            @currentSorting={{@sort}}
                            style="max-width: 250px;"/>
                {{#unless @displaySubset}}
                <ThSortable @label="Type bestuur"
                            @field="administrativeUnitClassification"
                            @currentSorting={{@sort}}
                            @class="au-u-visible-medium-up"/>
                {{/unless}}
                <ThSortable @label="Categorie dossier"
                            @field="decisionType"
                            @currentSorting={{@sort}}
                            style="max-width: 250px;"/>
                {{#unless @displaySubset}}
                  <ThSortable @label="Periode zitting / besluit"
                              @field="sessionDatetime"
                              @currentSorting={{@sort}}
                              @class="au-u-visible-medium-up"/>
                  <ThSortable @label="Verstuurd"
                              @field="sentDate"
                              @currentSorting={{@sort}}
                              @class="au-u-visible-medium-up"/>
                {{/unless}}
                <ThSortable @label="Status"
                            @field="status"
                            @currentSorting={{@sort}}/>
                <th class="u-hide-on-print">{{!-- Action links --}}</th>
              </c.header>
              <c.body as |row|>
                {{#unless @displaySubset}}
                  <td class="au-u-visible-medium-up">{{row.province}}</td>
                {{/unless}}
                <td style="max-width: 250px;">{{row.administrativeUnit}}
                  {{#if @displaySubset}}
                    <p class="text-fade">{{row.administrativeUnitClassification}}</p>
                  {{else}}
                    <p class="au-u-visible-medium-up text-fade">{{row.administrativeUnitClassification}}</p>
                  {{/if}}
                </td>
                {{#unless @displaySubset}}
                  <td class="au-u-visible-medium-up">{{row.administrativeUnitClassification}}</td>
                {{/unless}}
                <td style="max-width: 250px;">
                  {{#if row.decisionType}}
                    <p>{{row.decisionType}}</p>
                  {{else}}
                    <p class="text-fade">Geen type</p>
                  {{/if}}
                  <p class="text-fade">{{row.regulationType}}</p>
                </td>
                {{#unless @displaySubset}}
                  <td class="au-u-visible-medium-up">{{moment-format row.sessionDatetime 'DD-MM-YYYY HH:mm'}}</td>
                  <td class="au-u-visible-medium-up">{{moment-format row.sentDate 'DD-MM-YYYY'}}</td>
                {{/unless}}
                <td>
                  <AuPill resource="{{capitalize row.status}}">{{capitalize row.status}}</AuPill>
                </td>
                <td class="u-hide-on-print">
                  <LinkTo @route="search.submissions.show" @model={{row.id}}>Bekijk</LinkTo>
                </td>
              </c.body>
              <tr>
                <td colspan="8">
                  <AuAlert @alertIcon="alert-triangle" @alertTitle="Zoekresultaten zijn onvolledig"  @alertskin={{"warning"}} @alertsize={{"small"}}>
                    <p>Zorg dat u door gebruik van filters, en niet enkel inhoudelijke zoekopdrachten, het volledige plaatje ziet.</p>
                    <br>
                    <p>
                      <strong>Zoeken in foto's van besluiten kan niet</strong>, dat kan enkel in webpagina's en leesbare PDFs.
                    </p>
                    <br>
                    <p>
                      <strong>Gebruik de filters onder de zoekfunctie om resultaten dubbel te checken</strong>
                      <br>
                      Met de zoekfunctie <em>Zoek in inhoud dossier</em> geven termen zoals "Brugge", "Jaarrekening" of "Provincie" niets weer als de informatie niet in de inhoud van de leesbare webpagina of PDF staat.
                    </p>
                  </AuAlert>
                </td>
              </tr>
            </t.content>
          </DataTable>
        </div>
      </div>
    </div>
  </div>
</div>
