{{!-- template-lint-disable no-html-comments  --}}
{{!-- template-lint-disable no-inline-styles  --}}
<div class="u-border--fat--bottom u-hide-on-print">
  <div class="u-padding--round--small">

    <!-- HEADER -->
    <div class="grid">
      <div class="col--4-12 col--1-1--s">
        <h1 class="h2 u-spacer--right--small u-display-inline-block">Toezicht ABB: zoeken</h1>
      </div>
      <div class="col--8-12 col--1-1--s u-align-right--tablet-portrait-up">
        <WuButtonGroup>
          <div class="u-display--inline-block u-padding--right--small">
            <div class="checkbox--switch__wrapper">
              <WuSwitch @label="Toon enkel te behandelen dossiers" @checked={{this.isStatusFilterEnabled}}
                        @onClick={{this.setToTreatStatus}} />
            </div>
          </div>
          <WuButton @onClick={{this.resetFilters}} @isDark={{true}} @isLink={{true}} @isNarrow={{true}}
                    @class="u-spacer--bottom--none">
            <i class="vi vi-cross vi-u-link button__icon" aria-hidden="true"></i> Herstel alle filters
          </WuButton>
          <AcmidmLogout @class="button button--alt button--small u-spacer--bottom--none u-hidden-mobile"/>
        </WuButtonGroup>
      </div>
    </div>


    <WuAlert @title="Waarschuwing">Deze pagina is gebouwd voor demo doeleinden en bevat geen recente data.</WuAlert>

    <!-- FILTERS -->
    <div class="grid u-spacer--bottom--small">
      <div class="col--12-12 col--12-12--m col--12-12--s">
        <AuLabel>Zoekterm</AuLabel>
        <AuInput
                @width={{"block"}}
                @value={{@filter.search}}
          {{on "change" (fn @setFilter @filter.search 'search')}}/>
      </div>
    </div>
    <AuLabel>Regular filters</AuLabel>
    <div class="grid u-spacer--bottom--small">
      <div class="col--4-12 col--6-12--m col--6-12--s">
        <label class="label--subtle form__label">Bestuurseenheid</label>
        <Filter::AdministrativeUnitSelect @value={{@filter.administrativeUnites}} @onSelectionChange={{fn @setFilter
                                                                                                          'administrativeUnites'}} />

        <label class="label--subtle form__label">Provincie</label>
        <Filter::ProvinceSelect @value={{@filter.provinces}} @onSelectionChange={{fn @setFilter
                                                                                     'provinces'}} />
      </div>
      <div class="col--4-12 col--6-12--m col--6-12--s">
        <label class="label--subtle form__label">Type bestuur</label>
        <Filter::AdministrativeUnitClassificationSelect @value={{@filter.administrativeUnitClassifications}}
                                                        @onSelectionChange={{fn
                @setFilter 'administrativeUnitClassifications'}} />

        <label class="label--subtle form__label">Type document</label>
        <Filter::DecisionTypeSelect @value={{@filter.decisionTypes}} @onSelectionChange={{this.selectDecisionTypes}} />

        {{#if this.regulationTypeIsSelected}}
          <label class="label--subtle form__label">Type reglement of verordening</label>
          <Filter::RegulationTypeSelect @value={{@filter.regulationTypes}} @onSelectionChange={{fn @setFilter
                                                                                                   'regulationTypes'}} />
        {{/if}}
      </div>
      <div class="col--4-12 col--1-1--m col--1-1--s">
        <div class="grid">
          <div class="col--1-1 col--6-12--m">
            <Filter::DateRange @label="Periode verstuurd" @fromValue={{@filter.sentDateFrom}}
                               @toValue={{@filter.sentDateTo}} @onChangeFromValue={{fn @setFilter 'sentDateFrom'}}
                               @onChangeToValue={{fn @setFilter 'sentDateTo'}} />
          </div>
          <div class="col--1-1 col--6-12--m">
            <Filter::DateRange @label="Periode zitting / besluit" @defaultFromDate={{this.lastMonth}}
                               @fromValue={{@filter.sessionDateFrom}} @toValue={{@filter.sessionDateTo}}
                               @onChangeFromValue={{fn @setFilter 'sessionDateFrom'}} @onChangeToValue={{fn @setFilter
                                                                                                            'sessionDateTo'}} />
          </div>
        </div>
      </div>
    </div>
    <AuLabel>Vlabel specific filters</AuLabel>
    <div class="grid">
      <div class="col--4-12 col--6-12--m col--6-12--s">
        <label class="label--subtle form__label">MAR-code</label>
        <Filter::ChartOfAccountSelect @value={{@filter.chartOfAccounts}} @onSelectionChange={{fn @setFilter
                                                                                            'chartOfAccounts'}} />
      </div>
      <div class="col--4-12 col--1-1--m col--1-1--s">
        <div class="grid">
          <div class="col--1-1 col--6-12--m">
            <Filter::DateRange @label="Geldt vanaf" @defaultToDate={{this.nextYear}}
                               @fromValue={{@filter.dateOfEntryIntoForceFrom}}
                               @toValue={{@filter.dateOfEntryIntoForceTo}} @onChangeFromValue={{fn @setFilter
                                                                                                   'dateOfEntryIntoForceFrom'}}
                               @onChangeToValue={{fn @setFilter 'dateOfEntryIntoForceTo'}} />
          </div>
          <div class="col--1-1 col--6-12--m">
            <Filter::DateRange @label="Geldt tot" @defaultToDate={{this.nextYear}} @fromValue={{@filter.dateNoLongerInForceFrom}}
                               @toValue={{@filter.dateNoLongerInForceTo}} @onChangeFromValue={{fn @setFilter 'dateNoLongerInForceFrom'}}
                               @onChangeToValue={{fn @setFilter 'dateNoLongerInForceTo'}} />
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<DataTable @content={{@model}} @isLoading={{@isLoading}} @noDataMessage="Geen inzendingen gevonden" @sort={{@sort}}
           @page={{@page}} @size={{@size}} @class="container-flex--contain data-table" as |t|>
  <t.content as |c|>
    <c.header>
      {{#unless @displaySubset}}
        <th>Provincie</th>
      {{/unless}}
      <th>Bestuurseenheid</th>
      <th>Type bestuur</th>
      <th>Type document</th>
      {{#unless @displaySubset}}
        <th>Zitting / besluit</th>
        <th>Verstuurd</th>
      {{/unless}}
      <th>Status</th>
      <th class="u-hide-on-print">{{!-- Action links --}}</th>
    </c.header>
    <c.body as |row|>
      {{#unless @displaySubset}}
        <td class="u-visible--tablet-landscape-up">{{row.province}}</td>
      {{/unless}}
      <td class="u-visible--tablet-portrait-up" style="max-width: 250px;">{{row.administrativeUnit}} <span
              class="u-hidden--tablet-landscape-up text-fade"><br>{{row.administrativeUnitClassification}}</span></td>
      <td class="u-visible--tablet-landscape-up">{{row.administrativeUnitClassification}}</td>
      <td style="max-width: 250px;">
        {{#if row.decisionTypeLabel}}
          <p>{{row.decisionTypeLabel}}</p>
        {{else}}
          <p class="text-fade">Geen type</p>
        {{/if}}
        <p class="text-fade">{{row.regulationTypeLabel}}</p>
      </td>
      {{#unless @displaySubset}}
        <td class="u-visible--tablet-landscape-up">{{moment-format row.sessionDateTime 'DD-MM-YYYY HH:mm'}}</td>
        <td class="u-visible--tablet-landscape-up">{{moment-format row.sentDate 'DD-MM-YYYY'}}</td>
      {{/unless}}
      <td><label class="pill">{{capitalize row.status}}</label></td>
      <td class="u-hide-on-print">
        <LinkTo @route="search.submissions.show" @model={{row.id}}>Bekijk</LinkTo>
      </td>
    </c.body>
  </t.content>
</DataTable>
