{{!-- template-lint-disable no-html-comments  --}}
{{!-- template-lint-disable no-inline-styles  --}}
<div class="container-flex--contain">
  <div class="au-u-padding-small au-u-border-bottom">
    <div class="au-o-grid au-o-grid--flush">
      <div class="au-o-grid__item au-u-1-1 au-u-3-4@medium">
          <AuHeading @level="1" @skin="2" class="au-u-margin-top-tiny au-u-margin-bottom-tiny">Toezicht ABB</AuHeading>
      </div>
      <div class="au-o-grid__item au-u-1-1 au-u-1-4@medium au-u-text-right">
        <a href="/filters-table/table-config" type="button" class="au-c-button au-c-button--tertiary au-u-margin-top-tiny">
          <AuIcon @icon="settings" @alignment="left" /> Pas overzicht kolommen aan
        </a> {{!--       FOR DEV: This should be a button that shows a modal! Thanks   --}}
      </div>
    </div>
  </div>

  <div class="container-flex--contain">
    <div class="au-c-main-container">
      <div class="au-c-main-container__sidebar">
        <div class="au-c-sidebar">
          <div class="au-c-sidebar__content">

            <div class="au-c-sidebar__header">

              <div class="au-o-grid au-o-grid--flush">
                <div class="au-o-grid__item au-u-1-2 au-u-1-1@large">

                  <AuHeading @level="2" class="au-u-hidden-visually">Zoek</AuHeading>

                  <div class="au-u-margin-bottom-small">
                    <AuLabel>Zoek in inhoud dossier</AuLabel>
                    <AuInput
                            @width={{"block"}}
                            @value={{this._freeTextSearch}}
                            {{on "input" (perform this.search)}}
                            class="au-u-margin-bottom-tiny"/>
                    <a href="/help#help-zoekresultaten" class="au-c-link" target="_blank" rel="noopener noreferrer">
                      <AuIcon @icon="info-circle" @alignment="left" /> Waarom zijn mijn zoekresultaten onvolledig?
                    </a>
                  </div>

                  <div class="au-u-margin-bottom au-u-margin-top-tiny">
                    <div class="checkbox--switch__wrapper">
                      <WuSwitch @label="Toon enkel te behandelen dossiers"
                                @checked={{this.isStatusFilterEnabled}}
                                @onClick={{this.setToTreatStatus}} />
                    </div>
                  </div>

                  <hr class="au-c-hr">

                  <div class="au-o-grid au-o-grid--flush">
                    <div class="au-o-grid__item au-u-1-2">
                      <AuHeading @level="2" class="au-u-hidden-visually">Filter</AuHeading>
                    </div>
                  </div>

                  <div class="au-u-margin-bottom-small">
                    <AuLabel>Bestuurseenheid</AuLabel>
                    <Filter::AdministrativeUnitSelect @value={{@filter.administrativeUnites}}
                                                      @onSelectionChange={{fn @setFilter 'administrativeUnites'}}/>
                  </div>
                  <div class="au-u-margin-bottom-small">
                    <AuLabel>Provincie</AuLabel>
                    <Filter::ProvinceSelect @value={{@filter.provinces}}
                                            @onSelectionChange={{fn @setFilter 'provinces'}} />
                  </div>
                  <div class="au-u-margin-bottom-small">
                    <AuLabel>Type bestuur</AuLabel>
                    <Filter::AdministrativeUnitClassificationSelect @value={{@filter.administrativeUnitClassifications}}
                                                                    @onSelectionChange={{this.selectAdministrativeUnitClassifications}} />
                  </div>
                  <div class="au-u-margin-bottom-small">
                    {{#if @filter.administrativeUnitClassifications}}
                      <AuLabel>Type Bestuursorgaan</AuLabel>
                      <Filter::GoverningBodyClassificationSelect @value={{@filter.governingBodyClassifications}}
                                                                 @onSelectionChange={{fn @setFilter 'governingBodyClassifications'}} />
                    {{/if}}
                  </div>
                  <hr class="au-c-hr">
                </div>

                <div class="au-o-grid__item au-u-1-2 au-u-1-1@large">

                  <div class="au-u-margin-bottom-small">
                    <AuLabel>Categorie dossier</AuLabel>
                    <Filter::DecisionTypeSelect @value={{@filter.decisionTypes}}
                                                @onSelectionChange={{this.selectDecisionTypes}} />
                  </div>

                  <div class="au-u-margin-bottom-small">
                    {{#if this.regulationTypeIsSelected}}
                      <AuLabel>Subcategorie: Type reglement of verordening</AuLabel>
                      <Filter::RegulationTypeSelect @value={{@filter.regulationTypes}}
                                                    @onSelectionChange={{fn @setFilter 'regulationTypes'}} />
                    {{/if}}
                  </div>

                  <hr class="au-c-hr">

                  <div class="au-u-margin-bottom-small">
                    <Filter::DateRange @label="Periode zitting / besluit" @defaultFromDate={{this.lastMonth}}
                                       @fromValue={{@filter.sessionDateFrom}} @toValue={{@filter.sessionDateTo}}
                                       @onChangeFromValue={{fn @setFilter 'sessionDateFrom'}} @onChangeToValue={{fn @setFilter 'sessionDateTo'}} />
                  </div>
                  <div class="au-u-margin-bottom-small">
                    <Filter::DateRange @label="Periode verstuurd" @fromValue={{@filter.sentDateFrom}}
                                       @toValue={{@filter.sentDateTo}} @onChangeFromValue={{fn @setFilter 'sentDateFrom'}}
                                       @onChangeToValue={{fn @setFilter 'sentDateTo'}} />
                  </div>


                  <hr class="au-c-hr">

                  <AuHeading @level="3" @skin="6" class="au-u-margin-bottom-small">Subcategorie: Belasting of retributie</AuHeading>
                  <div class="au-u-margin-bottom-small">
                    <AuLabel>MAR-code</AuLabel>
                    <Filter::ChartOfAccountSelect @value={{@filter.chartOfAccounts}}
                                                  @onSelectionChange={{fn @setFilter 'chartOfAccounts'}} />
                  </div>
                  <div class="au-u-margin-bottom-small">
                    <Filter::DateRange @label="Belasting geldt vanaf"
                                       @defaultToDate={{this.nextYear}}
                                       @fromValue={{@filter.dateOfEntryIntoForceFrom}}
                                       @toValue={{@filter.dateOfEntryIntoForceTo}}
                                       @onChangeFromValue={{fn @setFilter 'dateOfEntryIntoForceFrom'}}
                                       @onChangeToValue={{fn @setFilter 'dateOfEntryIntoForceTo'}} />
                  </div>
                  <div class="au-u-margin-bottom-small">
                    <Filter::DateRange @label="Belasting geldt tot"
                                       @defaultToDate={{this.nextYear}}
                                       @fromValue={{@filter.dateNoLongerInForceFrom}}
                                       @toValue={{@filter.dateNoLongerInForceTo}}
                                       @onChangeFromValue={{fn @setFilter 'dateNoLongerInForceFrom'}}
                                       @onChangeToValue={{fn @setFilter 'dateNoLongerInForceTo'}} />
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="au-c-sidebar__footer au-u-padding-small">
            {{!-- <AuHeading level="2" skin="6">Filter acties</AuHeading> --}}
            <AuToolbar @size="medium">
              <AuToolbarGroup>
                <a href="/filters-table/filter-overview" class="au-c-button au-c-button--tertiary">
                  <AuIcon @icon="export" @alignment="left" /> Laad filters
                </a>
                <a href="/filters-table/filter-save" class="au-c-button au-c-button--tertiary au-u-margin-left-tiny">
                  <AuIcon @icon="plus-text" @alignment="left" /> Bewaar filters
                </a>
              </AuToolbarGroup>
              <AuToolbarGroup>
                <AuButton @skin="tertiary" @alert="true" {{ on "click" this.resetFilters }}>
                  <AuIcon @icon="redo" @alignment="left" /> Reset
                </AuButton>
              </AuToolbarGroup>
            </AuToolbar>
            {{!--       FOR DEV: These should be buttons that show modals! Thanks

            <AuButton @skin="tertiary">
              <AuIcon @icon="export" @alignment="left" /> Laad zoekopdracht
            </AuButton> --}}
          </div>
        </div>
      </div>

      <div class="au-c-main-container__content">
        <div class="container-flex--contain">

          <DataTable @content={{@model}} @isLoading={{@isLoading}} @noDataMessage="Geen inzendingen gevonden" @sort={{@sort}}
                     @page={{@page}} @size={{@size}} @class="container-flex--contain data-table" as |t|>
            <t.content as |c|>
              <c.header>
              {{!-- For devs! When creating a new table for filters, please make sure colums stay configurable. We need control over responsive displays and width. --}}
                {{#unless @displaySubset}}
                  <ThSortable @label="Provincie"
                              @field="province"
                              @currentSorting={{@sort}}
                              @class="au-u-visible-medium-up"/>
                {{/unless}}
                <ThSortable @label="Bestuurseenheid"
                            @field="administrativeUnit"
                            @currentSorting={{@sort}}
                            style="max-width: 250px;"/>
                {{#unless @displaySubset}}
                <ThSortable @label="Type bestuur"
                            @field="administrativeUnitClassification"
                            @currentSorting={{@sort}}
                            @class="au-u-visible-medium-up"/>
                {{/unless}}
                <ThSortable @label="Categorie dossier"
                            @field="decisionType"
                            @currentSorting={{@sort}}
                            style="max-width: 250px;"/>
                {{#unless @displaySubset}}
                  <ThSortable @label="Periode zitting / besluit"
                              @field="sessionDatetime"
                              @currentSorting={{@sort}}
                              @class="au-u-visible-medium-up"/>
                  <ThSortable @label="Verstuurd"
                              @field="sentDate"
                              @currentSorting={{@sort}}
                              @class="au-u-visible-medium-up"/>
                {{/unless}}
                <ThSortable @label="Status"
                            @field="status"
                            @currentSorting={{@sort}}/>
                <th class="u-hide-on-print">{{!-- Action links --}}</th>
              </c.header>
              <c.body as |row|>
                {{#unless @displaySubset}}
                  <td class="au-u-visible-medium-up">{{row.province}}</td>
                {{/unless}}
                <td style="max-width: 250px;">{{row.administrativeUnit}}
                  {{#if @displaySubset}}
                    <p class="text-fade">{{row.administrativeUnitClassification}}</p>
                  {{else}}
                    <p class="au-u-visible-medium-up text-fade">{{row.administrativeUnitClassification}}</p>
                  {{/if}}
                </td>
                {{#unless @displaySubset}}
                  <td class="au-u-visible-medium-up">{{row.administrativeUnitClassification}}</td>
                {{/unless}}
                <td style="max-width: 250px;">
                  {{#if row.decisionType}}
                    <p>{{row.decisionType}}</p>
                  {{else}}
                    <p class="text-fade">Geen type</p>
                  {{/if}}
                  <p class="text-fade">{{row.regulationType}}</p>
                </td>
                {{#unless @displaySubset}}
                  <td class="au-u-visible-medium-up">{{moment-format row.sessionDatetime 'DD-MM-YYYY HH:mm'}}</td>
                  <td class="au-u-visible-medium-up">{{moment-format row.sentDate 'DD-MM-YYYY'}}</td>
                {{/unless}}
                <td>
                  <AuPill resource="{{capitalize row.status}}">{{capitalize row.status}}</AuPill>
                </td>
                <td class="u-hide-on-print">
                  <LinkTo @route="search.submissions.show" @model={{row.id}}>Bekijk</LinkTo>
                </td>
              </c.body>
              <tr>
                <td colspan="8">
                  {{#if this.hasAskedForFreeTextSearch}}
                    <AuAlert @alertIcon="alert-triangle" @alertTitle="Zoekresultaten zijn onvolledig"  @alertskin={{"warning"}} @alertsize={{"small"}}>
                      <p>Gebruik niet enkel de zoekfunctie om dossiers te doorzoeken &mdash; deze resultaten zijn beperkt. Maak gebruik van filters, zonder een zoekopdracht, om het volledige plaatje te zien. <a href="/help#help-zoekresultaten" target="_blank" rel="noopener noreferrer">Lees meer informatie over zoekresultaten</a>.</p>
                    </AuAlert>
                  {{/if}}

                  <AuAlert @alertIcon="info-circle" @alertTitle="De dossiers in deze tabel lopen maximaal één dag achter op de huidige stand van zaken."  @alertskin={{"info"}} @alertsize={{"small"}} class="au-u-margin-none" />
                </td>
              </tr>
            </t.content>
          </DataTable>
        </div>
      </div>
    </div>
  </div>
</div>
