<div class="col--5-12 col--12-12--m container-flex--contain u-border--light--left u-wide-on-print">
  <div class="u-padding--trl--small u-border--light--bottom">
    <div class="grid">
      <div class="col--9-12 u-wide-on-print">
        {{shared/status-pill model.melding.status class="u-spacer--tiny"}}
        <h2 class="h3">Bekijk melding</h2>
      </div>
      <div class="col--3-12 u-align-right u-hide-on-print">
        {{#link-to "toezicht.vlabel-inzendingen.index" class="link--icon--close"}}
          <span class="u-visually-hidden">Venster sluiten</span>
        {{/link-to}}
      </div>
    </div>
  </div>
  <div class="container-flex--scroll u-padding--round--small">
    <div class="form__row">
      <div class="grid u-spacer--tiny">
        <div class="col--6-12">
          <div class="description-data__label">Verstuurd door</div>
          <div class="description-data__value">{{model.lastModifier.fullName}}</div>
        </div>
        <div class="col--6-12">
          <div class="description-data__label">Verstuurd op</div>
          <div class="description-data__value">{{moment-format model.sentDate 'DD-MM-YYYY'}}</div>
        </div>
      </div>
    </div>
    <div class="u-spacer"></div>
    {{root-form-node solution=model.formSolution onDynamicFormInit=(action "noop") show=true}}
  </div>
  <div class="u-padding--round--small u-border--light--top u-hide-on-print">
    {{#if currentSession.canWrite}}
      {{toezicht/inzending-feedback model=(await model.melding)}}
    {{else}}
      <div class="button-group u-spacer--tiny">
        {{#link-to "toezicht.vlabel-inzendingen.index" class="button button--narrow button--alt"}}Sluit venster{{/link-to}}
      </div>
    {{/if}}
  </div>
</div>
