<div class="grid grid--collapse">
  <div class="{{if this.hasActiveChildRoute "col--8-12 au-u-visible-medium-up" "col--1-1"}}">
    <Submissions::SearchTable @class="container-flex--contain"
                              @model={{this.model}}
                              @isLoading={{this.isLoadingModel}}
                              @filter={{this.filter}}
                              @setFilter={{this.setFilter}}
                              @onFilterChange={{this.updateQueryParams}}
                              @sort={{this.sort}}
                              @page={{this.page}}
                              @size={{this.size}}
                              @displaySubset={{this.hasActiveChildRoute}}/>
  </div>
  {{outlet}}
</div>
