<div class="grid grid--collapse">
  <div class="{{if this.hasActiveChildRoute "col--7-12 u-hidden--tablet-portrait-up u-visible--tablet-landscape-up"
                   "col--12-12"}}">
    <div class="container-flex--contain">
      {{#if this.canReadVlabel}}
        <Submissions::VlabelTable @class="container-flex--contain"
          @model={{this.model}}
          @isLoading={{this.isLoadingModel}}
          @displaySubset={{this.hasActiveChildRoute}}
          @filter={{hash
                      bestuurseenheidIds=this.bestuurseenheidIds
                      marCodeIds=this.marCodeIds
                      sessionDateFrom=this.sessionDateFrom
                      sessionDateTo=this.sessionDateTo
                      sentDateFrom=this.sentDateFrom
                      sentDateTo=this.sentDateTo
                      dateOfEntryIntoForceFrom=this.dateOfEntryIntoForceFrom
                      dateOfEntryIntoForceTo=this.dateOfEntryIntoForceTo
                      endDateFrom=this.endDateFrom
                      endDateTo=this.endDateTo
                  }}
          @page={{this.page}}
          @size={{this.size}}
          @sort={{this.sort}}
          @onFilterChange={{this.updateQueryParams}}/>
      {{else}}
        <Submissions::RegularTable @class="container-flex--contain"
          @model={{this.model}}
          @isLoading={{this.isLoadingModel}}
          @displaySubset={{this.hasActiveChildRoute}}
          @filter={{hash
                      bestuurseenheidIds=this.bestuurseenheidIds
                      classificatieIds=this.classificatieIds
                      governingBodyClassificationIds=this.governingBodyClassificationIds
                      provincieIds=this.provincieIds
                      besluitTypeIds=this.besluitTypeIds
                      regulationTypeIds=this.regulationTypeIds
                      sessionDateFrom=this.sessionDateFrom
                      sessionDateTo=this.sessionDateTo
                      sentDateFrom=this.sentDateFrom
                      sentDateTo=this.sentDateTo
                      statusUri=this.statusUri
                  }}
          @page={{this.page}}
          @size={{this.size}}
          @sort={{this.sort}}
          @onFilterChange={{this.updateQueryParams}}/>
      {{/if}}
    </div>
  </div>
  {{outlet}}
</div>