<div class="au-u-padding-top-large au-u-padding-left au-u-padding-right">
  <h1 class="au-u-h1 au-u-margin-bottom">Bewaarde zoekopdrachten</h1>
  <DataTable
          @content={{this.model}}
          @isLoading={{this.isLoadingModel}}
          @page={{this.page}}
          @size={{this.size}}
          @sort={{this.sort}}
          as |t|>
    <t.content as |c|>
      <c.header>
        <ThSortable @label="Naam" @field="label" @currentSorting={{this.sort}}
                    @class="u-visible--tablet-landscape-up"/>
        <th>Beschrijving</th>
        <ThSortable @label="Datum Aangemaakt" @field="created" @currentSorting={{this.sort}}
                    @class="u-visible--tablet-landscape-up"/>
        <th>
          <LinkTo @route="user.search-queries.new" class="button button--narrow" type="button">Maak een nieuwe zoekopdracht
          </LinkTo>
        </th>
      </c.header>
      <c.body as |row|>
        <td>
          {{row.label}}
        </td>
        <td>
          {{row.comment}}
        </td>
        <td>
          {{moment-format row.created 'DD-MM-YYYY'}}
        </td>
        <td>
          <div class="button-group">
            <LinkTo  class="button button--narrow" type="button" @route="search.submissions.search-queries.select" @model={{row.id}}>
              Laad in
            </LinkTo>
            <LinkTo  class="button button--narrow button--alt" type="button" @route="user.search-queries.edit" @model={{row.id}}>
              Bewerk
            </LinkTo>
            <a class="button button--link button--narrow button--alt button--alt--warning" type="button" {{on "click" (perform this.delete row.id)}}>Verwijder</a>
          </div>
        </td>
      </c.body>
    </t.content>
  </DataTable>
</div>
