<div class="grid grid--collapse">
  <div class="container-flex--contain">
    <AuToolbar @size="medium" @skin="tint" @border="bottom">
      <AuToolbarGroup>
        <ul class="au-c-list-horizontal">
          <li class="au-c-list-horizontal__item">
            <AuLink @linkRoute="search.submissions">
              <AuIcon @icon="arrow-left" @alignment="left" />
              Toezicht ABB
            </AuLink>
          </li>
          <li class="au-c-list-horizontal__item">
            <strong>Bewaarde zoekopdrachten</strong>
          </li>
        </ul>
      </AuToolbarGroup>
    </AuToolbar>
    <AuToolbar @size="large">
      <AuToolbarGroup>
        <AuHeading @level="1" @skin="2" class="au-u-margin-top-tiny au-u-margin-bottom-tiny">
          Bewaarde zoekopdrachten
        </AuHeading>
      </AuToolbarGroup>
    </AuToolbar>

    <DataTable
          @class="container-flex--contain data-table"
          @content={{this.model}}
          @isLoading={{this.isLoadingModel}}
          @page={{this.page}}
          @size={{this.size}}
          @sort={{this.sort}}
          as |t|>
      <t.content as |c|>
        <c.header>
          <ThSortable @label="Naam" @field="label" @currentSorting={{this.sort}}/>
          <th>Beschrijving</th>
          <ThSortable @label="Datum Aangemaakt" @field="created" @currentSorting={{this.sort}}/>
          <th>
            <LinkTo @route="user.search-queries.new" class="button button--narrow" type="button">Maak een nieuwe
              zoekopdracht
            </LinkTo>
          </th>
        </c.header>
        <c.body as |row|>
          <td>
            {{row.label}}
          </td>
          <td>
            {{row.comment}}
          </td>
          <td>
            {{moment-format row.created 'DD-MM-YYYY'}}
          </td>
          <td>
            <div class="button-group">
              <LinkTo class="button button--narrow" type="button" @route="search.submissions.search-queries.select"
                      @model={{row.id}}>
                Laad in
              </LinkTo>
              <LinkTo class="button button--narrow button--alt" type="button" @route="user.search-queries.edit"
                      @model={{row.id}}>
                Bewerk
              </LinkTo>
              <a class="button button--link button--narrow button--alt button--alt--warning" type="button" {{on
                      "click" (perform this.delete row.id)}}>Verwijder</a>
            </div>
          </td>
        </c.body>
      </t.content>
    </DataTable>
  </div>
</div>