
<div class="au-u-padding-top-large au-u-padding-left au-u-padding-right">
  <div class="au-o-grid">
    <div class="au-o-grid__item au-u-1-2@medium">
      <h1 class="au-u-h1 au-u-margin-bottom">Zoekopdrachten: overzicht</h1>
    </div>
    <div class="au-o-grid__item au-u-1-2@medium au-u-text-right">
      <LinkTo @route="user.search-queries.new" class="au-c-button" type="button">Maak een nieuwe zoekopdracht aan</LinkTo>
    </div>
  </div>

  <DataTable
          @content={{this.model}}
          @isLoading={{this.isLoadingModel}}
          @filter={{this.filter}}
          @sort={{this.sort}}
          @page={{this.page}}
          @size={{this.size}}
          as |t|>
    <t.content as |c|>
      <c.header>
        <th>Naam</th>
        <th>Beschrijving</th>
        <th>Datum Aangemaakt</th>
        <th>Acties</th>
      </c.header>
      <c.body as |row|>
        <td>
          {{row.label}}
        </td>
        <td>
          {{row.comment}}
        </td>
        <td>
          01/02/3456
        </td>
        <td>
          <LinkTo @route="user.search-queries.edit" @model={{row.id}}>Bewerk</LinkTo>
        </td>
      </c.body>
    </t.content>
  </DataTable>
</div>
