{{title "Toezicht ABB"}}

{{wu-widget src=header class="vo-header-widget"}}

<div class="grid grid--collapse">
  <div class="{{if hasActiveChildRoute "col--7-12 u-hidden--tablet-portrait-up u-visible--tablet-landscape-up" "col--12-12"}}">
    <div class="container-flex--contain">
      <div class="u-border--fat--bottom u-hide-on-print">
        <div class="u-padding--round--small">
          <div class="grid">
            <div class="col--4-12 col--1-1--s">
              <h1 class="h2 u-spacer--right--small u-display-inline-block">Toezicht ABB</h1>
            </div>

            <div class="col--8-12 col--1-1--s u-align-right--tablet-portrait-up">
              {{#wu-button-group}}
                <div class="u-display--inline-block u-padding--right--small">
                  <div class="checkbox--switch__wrapper checkbox--switch--small">
                    {{wu-switch
                        label="Toon enkel te behandelen dossiers"
                        checked=isStatusFilterEnabled
                        onClick=(action 'setToTreatStatus')
                    }}
                  </div>
                </div>
                {{#wu-button onClick=(action "resetFilters") isSmall=true isDark=true isLink=true isNarrow=true class="u-spacer--bottom--none u-hidden-mobile"}}
                  <i class="vi vi-cross vi-u-link button__icon" aria-hidden="true"></i> Herstel alle filters
                {{/wu-button}}
                {{acmidm-logout class="button button--alt button--small u-spacer--bottom--none u-hidden-mobile"}}
              {{/wu-button-group}}
            </div>

          </div>
          <div class="grid u-hidden-mobile">
            <div class="col--4-12 col--6-12--m col--1-1--s">
              <label class="label--subtle form__label">Bestuurseenheid</label>
              {{bestuurseenheid-select value=bestuurseenheidId onSelectionChange=(action (mut bestuurseenheidId)) class="ember-power-select--small"}}
              <label class="label--subtle form__label">Provincie</label>
              {{provincie-select value=provincieId onSelectionChange=(action (mut provincieId)) class="ember-power-select--small"}}
            </div>
            <div class="col--4-12 col--6-12--m col--1-1--s">
              <label class="label--subtle form__label">Type bestuur</label>
              {{bestuurseenheid-classificatie-select value=classificatieId onSelectionChange=(action (mut classificatieId)) class="ember-power-select--small"}}

              <label class="label--subtle form__label">Type document</label>
              {{besluit-type-select value=besluitTypeId onSelectionChange=(action (mut besluitTypeId)) class="ember-power-select--small"}}
            </div>
            <div class="col--4-12 col--1-1--m col--1-1--s">
              <div class="grid">
                <div class="col--1-1 col--6-12--m">
                  {{sent-date-range fromValue=sentDateFrom toValue=sentDateTo}}
                </div>
                <div class="col--1-1 col--6-12--m">
                  {{session-date-range fromValue=sessionDateFrom toValue=sessionDateTo}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
	    {{toezicht/inzendingen-table class="container-flex--contain" model=model isLoading=isLoadingModel sort=sort page=page size=size displaySubset=hasActiveChildRoute}}
    </div>
  </div>
  {{outlet}}
</div>
