<div class="container-flex--scroll">
  <section class="region">
    <div class="layout layout--wide">
      <h1 class="h1">Contact</h1>
      <form class="u-spacer--large js-formvalidation-bound">
        <div class="form__row">
          <label class="form__label form__label--large form__label--block" for="select">Waar gaat uw bericht over?</label>
          <WuRadioButton @label="Een functionaliteit, bug of probleem" @value="LoketLokaalBestuur@vlaanderen.be?subject=Functionaliteit of bug of probleem" @onChange={{fn (mut this.mailto)}} @isBlock={{true}} />
          <WuRadioButton @label="Een inhoudelijke vraag" @value="LoketLokaalBestuur@vlaanderen.be?subject=Inhoudelijke vraag" @onChange={{fn (mut this.mailto)}} @isBlock={{true}} />
          <div class="form__error" aria-describedby="radio-buttons"></div>
        </div>

        {{#if this.mailto}}
          <a href={{concat "mailto:" this.mailto}} class="button button--large">Bericht versturen</a>
        {{else}}
          <WuButton @label="Bericht versturen" @onClick={{null}} @size="large" @disabled={{true}} />
        {{/if}}
      </form>
      <p class="u-spacer--large">Of neem rechtstreeks contact op via mail <a href="mailto:LoketLokaalBestuur@vlaanderen.be">LoketLokaalBestuur@vlaanderen.be</a>.</p>
    </div>
  </section>
</div>
<AuMainFooter>
  <AuHeading @level="3" @skin="4">
    Toezicht ABB is een officiële website van de Vlaamse overheid
  </AuHeading>
  <AuContent @skin="small">
    <p>Uitgegeven door <a class="au-c-link" href="https://www.vlaanderen.be/organisaties/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur">Agentschap Binnenlands Bestuur</a></p>
    <ul class="au-c-list-horizontal">
      <li class="au-c-list-horizontal__item">
        <AuLink @linkRoute="legaal.disclaimer" @skin="secondary">Disclaimer</AuLink>
      </li>
      <li class="au-c-list-horizontal__item">
        <AuLink @linkRoute="legaal.cookieverklaring" @skin="secondary">Cookieverklaring</AuLink>
      </li>
    </ul>
  </AuContent>
</AuMainFooter>
