<div id="main" itemprop="mainContentOfPage" role="main" tabindex="-1" class="au-c-main-container__content au-c-main-container__content--scroll">
  <AuContentHeader @titlePartOne="Vlaanderen" @titlePartTwo="is lokaal bestuur">
    <img sizes="50vw" src="/assets/images/inzendingen-header-1600.jpg" srcset="/assets/images/inzendingen-header-320.jpg 320w, /assets/images/inzendingen-header-1024.jpg 1024w, /assets/images/inzendingen-header-1600.jpg 1600w" alt="" role="presentation">
  </AuContentHeader>

  <section class="au-o-region-large">
    <div class="au-o-layout au-o-layout--small">

      <AuHeading @level="2" @skin="3">Kies een bestuurseenheid om mee in te loggen.</AuHeading>

      <div class="au-o-region">
        <MockLogin as |login|>
          {{#if this.queryStore.isRunning}}
            <AuLoader @size="small" />
            <span class="au-u-hidden-visually">Aan het laden</span>
          {{else}}
            {{#if login.errorMessage}}
              <AuAlert @icon="info-circle" @title={{login.errorMessage}} @skin="error">{{login.errorMessage}}</AuAlert>
            {{/if}}
            {{#each this.model as |account|}}
              <AuButton
                @skin="secondary"
                @width="block"
                @size="large"
                class="au-u-flex au-u-flex--row au-u-flex--start au-u-margin-bottom-small au-c-card" {{! TODO: find a better solution for the border styling which now requires the au-c-card class}}
                type="button"
                {{on "click" (fn login.login account.id account.gebruiker.group.id)}}
              >
                {{account.gebruiker.voornaam}} {{account.gebruiker.achternaam}}
              </AuButton>
            {{/each}}
            <NumberPagination @page={{this.page}} @size={{this.size}} @nbOfItems={{this.model.length}} @total={{this.model.meta.count}} @links={{this.model.meta.pagination}} />
          {{/if}}
        </MockLogin>
      </div>

    </div>
  </section>

  <AuMainFooter>
    <AuHeading @level="3" @skin="4">
      Toezicht ABB is een officiële website van de Vlaamse overheid
    </AuHeading>
    <AuContent @skin="small">
      <p>Uitgegeven door <AuLinkExternal href="https://www.vlaanderen.be/organisaties/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur">Agentschap Binnenlands Bestuur</AuLinkExternal></p>
      <ul class="au-c-list-horizontal">
        <li class="au-c-list-horizontal__item">
          <AuLink @route="legaal.disclaimer" @skin="secondary">Disclaimer</AuLink>
        </li>
        <li class="au-c-list-horizontal__item">
          <AuLink @route="legaal.cookieverklaring" @skin="secondary">Cookieverklaring</AuLink>
        </li>
        <li class="au-c-list-horizontal__item">
          <AuLink @route="legaal.toegankelijkheidsverklaring" @skin="secondary">Toegankelijkheidsverklaring</AuLink>
        </li>
      </ul>
    </AuContent>
  </AuMainFooter>
</div>

