<div class="grid grid--collapse">
  <div class="{{if this.hasActiveChildRoute "col--7-12 u-hidden--tablet-portrait-up u-visible--tablet-landscape-up" "col--12-12"}}">
    <div class="container-flex--contain">
      <div class="u-border--fat--bottom u-hide-on-print">
        <div class="u-padding--round--small">
          <div class="grid">
            <div class="col--4-12 col--1-1--s">
              <h1 class="h2 u-spacer--right--small u-display-inline-block">Toezicht ABB: zoeken</h1>
            </div>

            <div class="col--8-12 col--1-1--s u-align-right--tablet-portrait-up">
              <WuButtonGroup>
                <AcmidmLogout @class="button button--alt button--small u-spacer--bottom--none u-hidden-mobile" />
              </WuButtonGroup>
            </div>

          </div>
          <div class="grid">
            <div class="col--4-12 col--6-12--m col--6-12--s">
              <label class="label--subtle form__label">Zoekterm</label>
              <div>
                <Input @value={{this.searchString}} placeholder="fiets" />
              </div>
            </div>
            <div class="col--4-12 col--6-12--m col--6-12--s">
              <label class="label--subtle form__label">Type document</label>
              <BesluitTypeSelect @value={{this.searchType}} @onSelectionChange={{this.selectBesluitType}} />
            </div>
          </div>
        </div>
      </div>

      <WuAlert @title="Waarschuwing">Deze pagina is gebouwd voor demo doeleinden en bevat geen recente data.</WuAlert>

      <Toezicht::InzendingenSearchTable @targetRoute="search-toezicht.show" @class="container-flex--contain" @model={{this.model}} @isLoading={{this.isLoadingModel}} @page={{this.page}} @size={{this.size}} @displaySubset={{this.hasActiveChildRoute}} />

    </div>
  </div>
  {{outlet}}
</div>
